* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.panel {
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  padding: 1rem;
  overflow: auto;
}

.divider {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
  height: 100vh; 
}

.main {
  flex-grow: 1;
  /* padding: 1rem; */
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 0;
}

