
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


.logo {
  height: 8rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: px; 
  background-color: #a6afed;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #444;
}

.sidebar .search {
  padding: 1rem;
  border-bottom: 1px solid #444;
}

.sidebar .search input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}


.chat-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.chat-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.chat-item:hover {
  background-color: #444;
}

.chat-item.selected {
  background-color: #0077ff;
}


.main {
  flex: 1;
  background-color: #9fa6f3;
  color: rgb(0, 0, 0);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.main-content h3 {
  margin-bottom: 0.5rem;
}

.main-content ul {
  padding-left: 1rem;
  list-style-type: disc;
}
